main {
  text-align: center;
  vertical-align: center;
  position: relative;
}

.start--container {
  display: flex;
  justify-content: center;
  height: 100vh; 
  position: relative;
}

.start {
  position: absolute;
  top: 33%;
}

.city--card--container {
  border: 2px solid black;
  margin: 50% 25%;
}

.menu--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu--card {
  border: 2px solid blue;
  margin: 50% 25%;
}

.add-card {
  
}

.trashButton {
  cursor: pointer;
}